<!DOCTYPE html>
<html>
 <head>
   <title>Express app to parse vacc xml and render as html</title>
   <link rel="stylesheet" type="text/css" href="/app.css">
 </head>
<body>
<p>Click the following links to see some rendered xml examples
<li><a href="/">Home page</a></li>
<li><a href="/single">NEMS (single) vacc</a></li>
<li><a href="/multivacc">NRL (multi) vacc</a></li>
<li><a href="/multiallergy">NRL (multi) allergy</a></li>
<li><a href="/multiobs">NRL (multi) observation</a></li>
<li><a href="/validator">Vacc validator</a></li>