<%- include('partials/header'); -%>

<H1>NRL (multi) Observation rendered as html</H1>

<H2>List details</H2>
<table>
   <tr>
     <td>List SNOMED code</td>
     <td><%= listCodeSNOMED %></td>
   </tr>
   <tr>
     <td>List SNOMED display</td>
     <td><%= listDisplaySNOMED %></td>
   </tr>
</table>


<%- include('partials/footer'); -%>